 @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,200;1,300;1,700&family=Roboto+Condensed:ital,wght@1,300;1,400&family=Roboto+Mono:ital@1&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,200;1,300;1,700&family=Libre+Baskerville:wght@700&family=Overpass:ital,wght@1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
}
nav{
    background-color: #ee892f;
    background-color: #e0bb76;
    width: 80vw;
    min-height: 7vh;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2vh;
}
nav>a{
    text-decoration: none;
    letter-spacing: 5px;
    color: #325434;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    font-size: larger;
}
nav>input{
    border-radius: 5px;
    border: 1px solid #e75f20df;
    width: 15vw;
    min-height: 4vh;
    text-align: right;
    font-size: medium;
}
input:hover{
    transition: all, 1s;
    box-shadow: 2px 2px 2px 1px #ee892f;
    
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
    
  }
  nav>div{
      border:1px solid #325434;
      transition-property: all;
      transition-duration: 2s;
  }
  nav>div:hover {
      border: 1px solid #325434;
      transform: rotate(45deg);
  }
body{
    background-color: #325434;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.parent-0{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.child-2{
    min-width: 25vw;
    min-height: 50vh;
    background-image: url(https://img.freepik.com/premium-photo/perfume-with-floral-aroma-burst-generative-ai_74760-4958.jpg?w=360);
    background-position: center;
    border-radius: 10px;
}
.child{
    width: 70vw;
    min-height: 50vh;
    background-color: #ebb56e;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    /* position: relative; */
}
.parent-title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}
#title{
    /* position: absolute;
    left: 330px;
    top: 40px; */
    font-size: 80px;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Overpass', sans-serif;
    color: #325434;
    
}
.title-2{
    /* position: absolute;
    left: 330px;
    top: 120px; */
    
    font-size: 80px;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Overpass', sans-serif;
    color: #325434;
    
}
.title-3{
    /* position: absolute;
    left: 330px;
    top: 200px; */
    font-size: 80px;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Overpass', sans-serif;
    color: #325434;
}
.parent{
    width: 80vw;
    min-height: 90vh;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.card{
    width: 15vw;
    min-height: 40vh;
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content:flex-end ;
    align-items:flex-end ;
    box-shadow: 5px 5px 10px #243c25;
    border: 2px solid #131f14;
    border-radius: 10px;
}
#box-1{
    background-image: url(/image/front_view_black_fragrance_designed_with_gold_cap_white_floor.jpg);
    background-size: cover;
    background-position: center;
}
#box-2{
    background-image: url(/image/front_view_black_fragrance_with_golden_cap_white_isolated_desk.jpg);
    background-size: cover;
    background-position: center;
}
#box-3{
    background-image: url(/image/front_view_brown_bottle_with_fragrance_with_golden_cap_white_desk.jpg);
    background-size: cover;
    background-position: center;
}
#box-4{
    background-image: url(/image/front_view_yellow_fragrance_bottle_with_golden_cap_white_wall.jpg);
    background-size: cover;
    background-position: center;
}
#box-5{
    background-image: url(/image/front-view-colored-fragrance-designed-isolated-white-floor.jpg);
    background-size: cover;
    background-position: center;
}
#box-6{
    background-image: url(/image/IMG_20230921_074615_914.jpg);
    background-size: cover;
    background-position: center;
}
#box-7{
    background-image: url(/image/IMG_20230921_084225_571\ \(1\).jpg);
    background-size: cover;
    background-position: center;
}
#box-8{
    background-image: url(/image/bottle-female-perfume-isolated-white-background_185193-74537.jpg);
    background-size: cover;
    background-position: center;
}
#box-9{
    background-image: url(/image/front-view-bottle-designed-transparent-isolated-white-wall.jpg);
    background-size: cover;
    background-position: center;
}
#box-10{
    background-image: url(/image/front_view_purple_silver_bottle_designed_beautiful_isolated_white.jpg);
    background-size: cover;
    background-position: center;
}
#box-11{
    background-image: url(/image/front-view-perfume-bottle-clear-glass-with-cover.jpg);
    background-size: cover;
    background-position: center;
}
#box-12{
    background-image: url(/image/front_close_up_view_bottle_perfume_transparent_bronze_isolated_white.jpg);
    background-size: cover;
    background-position: center;
}
.name{
    width: 14.7vw;
    height: 50px;
    background-color: #ee882f80;
    color: #131f14;
}
.name>h1{
    font-size: medium;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    margin: 10px;
}
.name>button{
    width: 60px;
    margin-left: 10px;
    visibility: hidden;
    opacity: 0;
    border: 1px solid #ee892f;
}
.name>p{
    margin: 10px;
    font-size: small;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    visibility: hidden;
    opacity: 0;
}
h1:hover{
    cursor: pointer;
}
.card:hover .name{
    height: 140px;
    bottom: 0px;
    background-color: #ee882f80;
}
.name:hover button{
    visibility: visible;
    opacity: 1;
    background-color: #e0bb76cd;
    color: #131f14;
}
button:hover{
    box-shadow: 2px 2px 5px #ee892f;
}
.card:hover p{
    opacity: 1;
    visibility: visible;
}
.card:hover{
    transform: scale(1.1) rotate(-3deg);
    box-shadow:5px 5px 18px #0a100a;
}
a:hover{
    text-decoration: underline;
}
/* ---------responsive------ */