@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,200;1,300;1,700&family=Poppins:wght@100&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,200;1,300;1,700&family=Poppins:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav{
    background-color: #ee892f;
    background-color: #e0bb76;
    width: 80vw;
    min-height: 7vh;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2vh;
}
nav>a{
    text-decoration: none;
    letter-spacing: 5px;
    color: #325434;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    font-size: larger;
}
nav>input{
    border-radius: 5px;
    border: 1px solid #e75f20df;
    width: 15vw;
    min-height: 4vh;
    text-align: right;
    font-size: medium;
}
input:hover{
    transition: all, 1s;
    box-shadow: 2px 2px 2px 1px #ee892f;
    
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
    
  }
  nav>div{
      border:1px solid #325434;
      transition-property: all;
      transition-duration: 2s;
  }
  nav>div:hover {
      border: 1px solid #325434;
      transform: rotate(45deg);
  }
section{
    display: inline-block;
    position: relative;
}
.cyrcle{
    min-width: 39vw;
    min-height: 80vh;
    border-radius: 50%;
    background-image: url(/image/composition-with-bottle-female-perfume-close-up_185193-74545.jpg);
    background-position: center;
    background-size: cover;
}
.cyrcle-1{
    width: 41vw;
    min-height: 80vh;
    background-color: #e75f20c5;
    border-radius: 50%;
    position: absolute;
    left: 750px;
    top: 50px;
}

.box{
    background-color: #325434;
    border-radius: 50%;
    position: absolute;
}
.one{
    width: 7vw;
    min-height: 14vh;
    left: 670px;
    top: 150px;
}
.two{
    width: 6vw;
    min-height: 12vh;
    left: 660px;
    top: 255px;
}
.three{
    width: 5vw;
    min-height: 10vh;
    left: 680px;
    top: 345px;
}
.four{
    width: 4vw;
    height: 8vh;
    left: 720px;
    top: 420px;
}
div>p{
    
    text-align: center;
    color: white;
    font-size: larger;
    margin-top: 15px;
}
h1{
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    letter-spacing: 20px;
    margin-top: 100px;
    margin-left: 20px;
}
#one{
    background-color: #325434;
    color: #e0bb76;
}
#two{
    color: #ee892f;
}
main>p{
    width: 500px;
    margin-left: 25px;
}
#link-1{
    text-decoration: none;
    background-color: #e0bb76;
    color: #325434;
    padding: 10px;
}
#link-2{
    text-decoration: none;
    color: #ee892f;
    margin-left: 500px;
    
}
#part-two{
    margin-top: 40px;
    margin-left: 25px;
}
a:hover{
    text-decoration: underline;
}
/* ---------responsive------ */
@media (min-width:360px) and (max-width:410px){
    .cyrcle-1{
        width: 70vw;
        min-height: 40vh;
        position: absolute;
        left: 4rem;
        top: 35rem;
        
    }
    .cyrcle{
        width: 70vw;
        min-height: 40vh;
        position: absolute;
        right: 1rem;
    }
    h1{
        font-size: 40px;
    }
    p:not(div>p){
        font-size: small;
        width: 40vw;

    }
    #link-2{
        margin-left: 5rem;
    }
    .one {
        width: 12vw;
        min-height: 7vh;
        left: 2rem;
        top: 35rem;
    }
    .two {
        width: 11vw;
        min-height: 6.5vh;
        left: 5rem;
        top: 33rem;
    }
    .three {
        width: 10vw;
        min-height: 6vh;
        left: 8rem;
        top: 32rem;
    }
    .four {
        width: 9vw;
        height: 5vh;
        left: 11rem;
        top: 32rem;
    }
    div>p {
        text-align: center;
        color: white;
        font-size: xx-small;
        margin-top: 15px
    }
}
@media (min-width:411px) and (max-width:620px){
    .cyrcle-1{
        width: 70vw;
        min-height: 40vh;
        position: absolute;
        left: 4rem;
        top: 45rem;
        
    }
    .cyrcle{
        width: 70vw;
        min-height: 40vh;
        position: absolute;
        right: 1rem;
    }
    h1{
        font-size: 40px;
    }
    p:not(div>p){
        font-size: large;
        width: 40vw;

    }
    #link-2{
        margin-left: 5rem;
    }
    .one {
        width: 12vw;
        min-height: 8vh;
        left: 4rem;
        top: 43rem;
    }
    .two {
        width: 11vw;
        min-height: 7vh;
        left: 7.5rem;
        top: 41.5rem;
    }
    .three {
        width: 10vw;
        min-height: 6vh;
        left: 11rem;
        top: 41rem;
    }
    .four {
        width: 9vw;
        height: 5vh;
        left: 14rem;
        top: 41.5rem;
    }
    div>p {
        text-align: center;
        color: white;
        font-size: small;
        margin-top: 15px
    }
}
@media (min-width:620px) and (max-width:768px){
    .cyrcle-1{
        width: 70vw;
        min-height: 70vh;
        position: absolute;
        left: 4rem;
        top: 35rem;
        
    }
    .cyrcle{
        width: 70vw;
        min-height: 70vh;
        position: absolute;
        right: 1rem;
    }
    h1{
        font-size: 40px;
    }
    p:not(div>p){
        font-size: large;
        width: 40vw;

    }
    #link-2{
        margin-left: 5rem;
    }
    .one {
        width: 12vw;
        min-height: 12vh;
        left: 4rem;
        top: 33rem;
    }
    .two {
        width: 11vw;
        min-height: 11vh;
        left: 9.5rem;
        top: 30rem;
    }
    .three {
        width: 10vw;
        min-height: 10vh;
        left: 15rem;
        top: 29rem;
    }
    .four {
        width: 9vw;
        height: 9vh;
        left: 20rem;
        top: 29.5rem;
    }
    div>p {
        text-align: center;
        color: white;
        font-size: medium;
        margin-top: 15px
    }
}
@media (min-width:769px) and (max-width:1364px){
    .cyrcle-1{
        width: 40vw;
        min-height: 70vh;
        position: absolute;
        left: 45rem;
        top: 10rem;
        
    }
    .cyrcle{
        width: 40vw;
        min-height: 70vh;
        position: absolute;
        right: 1rem;
    }
    h1{
        font-size: 100px;
    }
    p:not(div>p){
        font-size: xx-large;
        width: 40vw;

    }
    #link-2{
        margin-left: 5rem;
    }
    .one {
        width: 8vw;
        min-height: 14vh;
        left: 38rem;
        top: 17rem;
    }
    .two {
        width: 7vw;
        min-height: 13vh;
        left: 38rem;
        top: 24rem;
    }
    .three {
        width: 6vw;
        min-height: 12vh;
        left: 39.5rem;
        top: 31rem;
    }
    .four {
        width: 5vw;
        height: 10vh;
        left: 43rem;
        top: 36rem;
    }
    div>p {
        text-align: center;
        color: white;
        font-size: x-large;
        margin-top: 15px
    }
}